.c-item-contents {
    color: #222e44;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    display: flex;
    /*top: 58px;*/
    /*right: 10%;*/
    padding: 0;
    list-style: none;
    border-radius: 0.5rem;
    /*background: #222e44;*/
    border: 0;
    z-index: 1001;
    height: 100%;
}

.c-item-contents li {
    padding: 0;
    margin: 0;
}

.c-item-contents li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    color: #222e44;
    transition: all .15s ease-in-out;
}

.c-item-contents__titles {
    padding: 1rem 0;
}

.c-item-contents__titles ul li.active {
    background-color: #f7f7f7;
}

.c-item-contents__titles li {
    font-size: 1rem;
    padding: 1rem 1.75rem 1rem 1.375rem;
}

.c-item-contents__titles li a {
    opacity: 1;
    padding-right: 0.5rem;
}

.c-item-contents__subtitles {
    background-color: #f7f7f7;
    overflow: auto;
    padding: 1rem 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 350px;
}

.c-item-contents__subtitles ul li.active {
    background-color: #f3f0f0;
}

.c-item-contents__subtitles .title {
    padding: 1rem 1.75rem 0.5rem;
    font-size: .75rem;
    color: #dadada;
}

.c-item-contents__subtitles li {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem 3.875rem 0.5rem 1.75rem;
}

.c-item-contents__subsubtitles {
    /*background-color: #f3f0f0;*/
    padding: 1rem 0;
    /*border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;*/
}

.c-item-contents__subsubtitles .title {
    padding: 1rem 1.75rem 0.5rem;
    font-size: .75rem;
    color: #dadada;
}

.c-item-contents__subsubtitles li {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem 3.875rem 0.5rem 1.75rem;
}

ul {
    list-style-type: none;
}

a {
    color: #3284ef;
    text-decoration: none;
    cursor: pointer;
}

.site-menu {
    top: 58px;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;

    display: block;
    right: 0;
    background-color: white;

    visibility: visible;
    z-index: 1002;

    opacity: 1;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: none;
}

.nav-menu {
    /*max-width: 1180px;*/
    padding: 0 20px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    list-style: none;
}