/** TABLE RANGO **/
.table {
    padding-top: 40px;
}

.table-head table tr .column-1,
.table-head table tr .column-2,
.table-head table tr .column-3,
.table-head table tr .column-4 {
    width: 25%;
    text-align: center;
    padding-left: unset;
}

.table-body table tr .column-1,
.table-body table tr .column-5,
.table-body table tr .column-9,
.table-body table tr .column-13,
.table-body table tr .column-17,
.table-body table tr .column-21,
.table-body table tr .column-25,
.table-body table tr .column-29,
.table-body table tr .column-33,
.table-body table tr .column-37,
.table-body table tr .column-41,
.table-body table tr .column-45,
.table-body table tr .column-49 {
    text-align: center;
    padding-left: unset;
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.table-body table tr .column-2,
.table-body table tr .column-3,
.table-body table tr .column-6,
.table-body table tr .column-7,
.table-body table tr .column-10,
.table-body table tr .column-11,
.table-body table tr .column-14,
.table-body table tr .column-15,
.table-body table tr .column-18,
.table-body table tr .column-19,
.table-body table tr .column-22,
.table-body table tr .column-23,
.table-body table tr .column-26,
.table-body table tr .column-27,
.table-body table tr .column-30,
.table-body table tr .column-31,
.table-body table tr .column-34,
.table-body table tr .column-35,
.table-body table tr .column-38,
.table-body table tr .column-39,
.table-body table tr .column-42,
.table-body table tr .column-43,
.table-body table tr .column-46,
.table-body table tr .column-47,
.table-body table tr .column-50,
.table-body table tr .column-51 {
    text-align: center;
    padding-left: unset;
    border-left-style: solid;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;

    border-right-style: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.table-body table tr .column-4,
.table-body table tr .column-8,
.table-body table tr .column-12,
.table-body table tr .column-16,
.table-body table tr .column-20,
.table-body table tr .column-24,
.table-body table tr .column-28,
.table-body table tr .column-32,
.table-body table tr .column-36,
.table-body table tr .column-40,
.table-body table tr .column-44,
.table-body table tr .column-48,
.table-body table tr .column-52 {
    text-align: center;
    padding-left: unset;
    border-right-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-style: unset;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

/** TABLE RANGO **/

/** FILTRO RANGO **/
.containerVisor .panelControl_details .body .contentBox .nivel {
    height: 80px;
    padding-bottom: unset;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 1.25rem;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .mayor-70 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .mayor-70 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .mayor-70 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .mayor-70 input[type="checkbox"]:checked+label::before {
    background-color: #002573 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .mayor-70 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .mayor-70 input[type="checkbox"]+label:before {
    border-color: #002573 !important;
    background: rgba(0, 37, 115, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .mayor-70 input[type="checkbox"]+label::after {
    border-color: #002573 !important;
    background: rgba(0, 37, 115, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .mayor-70 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-60-70 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-60-70 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-60-70 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-60-70 input[type="checkbox"]:checked+label::before {
    background-color: #004c73 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-60-70 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-60-70 input[type="checkbox"]+label:before {
    border-color: #004c73 !important;
    background: rgba(0, 76, 115, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-60-70 input[type="checkbox"]+label::after {
    border-color: #004c73 !important;
    background: rgba(0, 76, 115, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-60-70 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-50-60 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-50-60 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-50-60 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-50-60 input[type="checkbox"]:checked+label::before {
    background-color: #0084a8 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-50-60 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-50-60 input[type="checkbox"]+label:before {
    border-color: #0084a8 !important;
    background: rgba(0, 132, 168, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-50-60 input[type="checkbox"]+label::after {
    border-color: #0084a8 !important;
    background: rgba(0, 132, 168, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-50-60 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-45-50 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-45-50 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-45-50 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-45-50 input[type="checkbox"]:checked+label::before {
    background-color: #329900 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-45-50 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-45-50 input[type="checkbox"]+label:before {
    border-color: #329900 !important;
    background: rgba(50, 153, 0, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-45-50 input[type="checkbox"]+label::after {
    border-color: #329900 !important;
    background: rgba(50, 153, 0, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-45-50 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-40-45 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-40-45 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-40-45 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-40-45 input[type="checkbox"]:checked+label::before {
    background-color: #40bf00 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-40-45 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-40-45 input[type="checkbox"]+label:before {
    border-color: #40bf00 !important;
    background: rgba(64, 191, 0, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-40-45 input[type="checkbox"]+label::after {
    border-color: #40bf00 !important;
    background: rgba(64, 191, 0, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-40-45 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-35-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-35-40 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-35-40 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-35-40 input[type="checkbox"]:checked+label::before {
    background-color: #00a853 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-35-40 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-35-40 input[type="checkbox"]+label:before {
    border-color: #00a853 !important;
    background: rgba(0, 168, 83, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-35-40 input[type="checkbox"]+label::after {
    border-color: #00a853 !important;
    background: rgba(0, 168, 83, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-35-40 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-30-35 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-30-35 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-30-35 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-30-35 input[type="checkbox"]:checked+label::before {
    background-color: #55ff00 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-30-35 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-30-35 input[type="checkbox"]+label:before {
    border-color: #55ff00 !important;
    background: rgba(85, 255, 0, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-30-35 input[type="checkbox"]+label::after {
    border-color: #55ff00 !important;
    background: rgba(85, 255, 0, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-30-35 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-25-30 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-25-30 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-25-30 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-25-30 input[type="checkbox"]:checked+label::before {
    background-color: #aaff02 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-25-30 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-25-30 input[type="checkbox"]+label:before {
    border-color: #aaff02 !important;
    background: rgba(170, 255, 2, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-25-30 input[type="checkbox"]+label::after {
    border-color: #aaff02 !important;
    background: rgba(170, 255, 2, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-25-30 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-20-25 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-20-25 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-20-25 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-20-25 input[type="checkbox"]:checked+label::before {
    background-color: #00e6a8 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-20-25 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-20-25 input[type="checkbox"]+label:before {
    border-color: #00e6a8 !important;
    background: rgba(0, 230, 168, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-20-25 input[type="checkbox"]+label::after {
    border-color: #00e6a8 !important;
    background: rgba(0, 230, 168, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-20-25 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-15-20 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-15-20 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-15-20 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-15-20 input[type="checkbox"]:checked+label::before {
    background-color: #ffd380 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-15-20 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-15-20 input[type="checkbox"]+label:before {
    border-color: #ffd380 !important;
    background: rgba(255, 211, 128, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-15-20 input[type="checkbox"]+label::after {
    border-color: #ffd380 !important;
    background: rgba(255, 211, 128, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-15-20 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-10-15 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-10-15 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-10-15 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-10-15 input[type="checkbox"]:checked+label::before {
    background-color: #ffaa01 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-10-15 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-10-15 input[type="checkbox"]+label:before {
    border-color: #ffaa01 !important;
    background: rgba(255, 170, 1, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-10-15 input[type="checkbox"]+label::after {
    border-color: #ffaa01 !important;
    background: rgba(255, 170, 1, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-10-15 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-5-10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-5-10 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-5-10 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-5-10 input[type="checkbox"]:checked+label::before {
    background-color: #a87001 !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-5-10 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-5-10 input[type="checkbox"]+label:before {
    border-color: #a87001 !important;
    background: rgba(168, 112, 1, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-5-10 input[type="checkbox"]+label::after {
    border-color: #a87001 !important;
    background: rgba(168, 112, 1, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-5-10 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-0-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 65px;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-0-5 input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-0-5 input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-0-5 input[type="checkbox"]:checked+label::before {
    background-color: #fff !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-0-5 input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-0-5 input[type="checkbox"]+label:before {
    border-color: #b7b7b7 !important;
    background: rgba(255, 255, 255, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-0-5 input[type="checkbox"]+label::after {
    border-color: #b7b7b7 !important;
    background: rgba(255, 255, 255, 0.25);
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .nivelBox .entre-0-5 label {
    margin-bottom: 25px !important;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
}

.containerVisor .panelControl_details .body .contentBox .selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1rem 0 1.25rem 0;
}

.containerVisor .panelControl_details .body .contentBox .selector input {
    position: initial;
    margin-top: 0;
    margin-left: 0;
}

.containerVisor .panelControl_details .body .contentBox .selector input[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .selector input[type="checkbox"]:checked+label::before {
    background-color: #ddd !important;
    content: url(../../../public/assets/img/ico-palometa.svg);
    padding: 0;
}

.containerVisor .panelControl_details .body .contentBox .selector input[type="checkbox"]:not(:checked) {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.containerVisor .panelControl_details .body .contentBox .selector input[type="checkbox"]+label:before {
    border-color: #ddd !important;
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .selector input[type="checkbox"]+label::after {
    border-color: #ddd !important;
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    z-index: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
    margin-top: 0;
    -webkit-transition: color 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
}

.containerVisor .panelControl_details .body .contentBox .selector label {
    margin-bottom: 25px !important;
    padding-left: 15px;
    text-align: center;
}

/** FILTRO RANGO **/

/**TEST**/

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills {
    margin-bottom: 0;
}

.nav>li>a {
    color: #6e7179;
}

.nav-link {
    display: block;
    padding: 0.2rem 0.5rem;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-pills>li+li {
    margin-left: 5px;
}

.nav-pills .nav-link.active.mayor-70,
.nav-pills .nav-link.active.entre-60-70,
.nav-pills .nav-link.active.entre-50-60,
.nav-pills .nav-link.active.entre-45-50,
.nav-pills .nav-link.active.entre-40-45,
.nav-pills .nav-link.active.entre-35-40,
.nav-pills .nav-link.active.entre-30-35,
.nav-pills .nav-link.active.entre-25-30,
.nav-pills .nav-link.active.entre-20-25,
.nav-pills .nav-link.active.entre-15-20,
.nav-pills .nav-link.active.entre-10-15,
.nav-pills .nav-link.active.entre-5-10,
.nav-pills .nav-link.active.entre-0-5 {
    color: #000000;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}

.nav-pills .nav-link.active.mayor-70 {
    background-color: #002573;
    color: #ffffff;
}

.nav-pills .nav-link.active.entre-60-70 {
    background-color: #004c73;
    color: #ffffff;
}

.nav-pills .nav-link.active.entre-50-60 {
    background-color: #0084a8;
    color: #ffffff;
}

.nav-pills .nav-link.active.entre-45-50 {
    background-color: #329900;
    color: #ffffff;
}

.nav-pills .nav-link.active.entre-40-45 {
    background-color: #40bf00;
    color: #ffffff;
}

.nav-pills .nav-link.active.entre-35-40 {
    background-color: #00a853;
    color: #ffffff;
}

.nav-pills .nav-link.active.entre-30-35 {
    background-color: #55ff00;
}

.nav-pills .nav-link.active.entre-25-30 {
    background-color: #aaff02;
}

.nav-pills .nav-link.active.entre-20-25 {
    background-color: #00e6a8;
}

.nav-pills .nav-link.active.entre-15-20 {
    background-color: #ffd380;
}

.nav-pills .nav-link.active.entre-10-15 {
    background-color: #ffaa01;
}

.nav-pills .nav-link.active.entre-5-10 {
    background-color: #a87001;
    color: #ffffff;
}

.nav-pills .nav-link.active.entre-0-5 {
    background-color: #ffffff;
}

.tab-content {
    background: #f7f7f7;
    padding: 5px 10px 5px 10px;
    border-radius: 0;
    margin-bottom: 0;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade {
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.text-danger {
    color: #ff5b57 !important;
}

.text-justify {
    text-align: justify !important;
}

#ubicacionDep2 p a {
    color: #808080;
    background-color: transparent;
}

#noHayDepAfectados p a {
    color: #808080;
    background-color: transparent;
}

.d-none {
    display: none;
}

.changePanel {
    color: #555555;
}

.changePanel.active {
    pointer-events: none;
    font-weight: 700;
    font-size: larger;
    text-transform: uppercase;
}

.selectCustom {
    display: block;
    width: 35%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contentBox.mapHistorialContainer {
    height: 500px;
}

.tabla-historial {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    /*margin: 10px auto;*/
    text-align: center;
    width: 100%;
    /*max-width: 500px;*/
}

.tabla-historial caption {
    padding: 0.5em;
    font-size: 1.2em;
    color: #555;
}

.tabla-historial thead tr,
.tabla-historial tr:nth-child(even) {
    background: #f8f8f8;
}

.tabla-historial thead th {
    font-weight: 600;
    padding: 0.5em;
}